*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
.all-content{
    background: #f4c2c2;
}
html ::-webkit-scrollbar-track{
    background: transparent;
}
html ::-webkit-scrollbar-thumb{
    background: #126dcc;
    border-radius: 10px;
}
html ::-webkit-scrollbar{
    width: 10px;
}

/* navbar start */
#navbar{
    background-color: #f4c2c2;
}
#logo img{
    border-radius: 10px;
    width: 100px;
    margin-left: 10px;
}
.navbar-nav{
    margin-left: 50px;
}
.nav-item .nav-link{
    color: black;
    margin-left: 10px;
    font-weight: bold;
    transition: 0.5s;
}
.nav-item .nav-link:hover{
    background: #add8e6;
    border-radius: 5px;
    color: black;
}
#navbar form button{
    background: black;
    color: white;
    border: 1px solid white;
}
/* navbar end */

/* marquee start */
marquee {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1);
    border: 1px solid #f4c2c2;
    background-color: #add8e6;
    padding: 10px;
}
/* marquee ends */

/* home section start */
#home{
    width: 100%;
    height: 90vh;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./images/bk1);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 88%;
}
#home .content{
    padding-top: 210px;
    margin-left: 56px;
}
#home .content h3{
    font-size: 50px;
    color: white;
}
#home .content p{
    margin-top: 10px;
    color: white;
}
#btn{
    width: 150px;
    height: 36px;
    margin-top: 20px;
    background: white;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    transition: 0.5s ease;
    cursor: pointer;
}
#btn:hover{
    background: #f4c2c2;
    color: white;
}
/* home section end */








/* about section start */
#about{
    width: 100%;
    height: 100vh;
}
#about .container{
    padding-top: 70px;
}
.heading{
    text-align: center;
    margin-bottom: 50px;
    color: #126dcc;
    font-size: 30px;
    font-weight: bold;
}
.heading span{
    color: #f4c2c2;
}
#about .card{
    border-radius: 10px;
}
#about .card img{
    border-radius: 10px;
    height:450px;
}
#about-btn{
    width: 200px;
    height: 36px;
    background: transparent;
    border: 2px solid ;
    color: #126dcc;
    border-radius: 5px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}
#about-btn:hover{
    background-color: #126dcc;
    color: white;
}
@media screen and (max-width:982px){
    #about p{
        font-size: 8px;
    }
}
@media screen and (max-width:766px){
    #about p{
        font-size: 15px;
    }
    #about{
        height: 120vh;
    }
}
/* about section end */








/* top cards start */
#top-cards{
    width: 100%;
    /* height: 60vh; */
    background:white;
}
.heading2{
    color: #126dcc;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.heading2 span{
    color: gray;
}
#top-cards .container{
    margin-top: 30px;
}
#top-cards .card{
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}
#top-cards .card img{
    border-radius: 10px;
}
#top-cards .card:hover{
    transform: translateY(-10px);
}
/* top cards end */








/* menu start */
#menu{
    width: 100%;
    margin-top: 60px;
}
.heading3{
    text-align: center;
    font-size: 30px;
    color: #126dcc;
    font-weight: bold;
    border-bottom: 2px solid grey;
}
#container2{
    margin-top: 50px;
}
#menu .card{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
#menu .card1{
    width:120px;
}
.star i{
    color: #126dcc;
}
#menu h3{
    text-align: center;
    color: #f4c2c2;
    margin-top: 10px;
    font-size: 25px;
}
#menu p{
    font-size: 16px;
    color: #126dcc;
    padding-top: 10px;
}
#menu p span{
    float: right;
    cursor: pointer;
}
/* menu end */



/* our gallary start */
#gallary{
    width: 100%;
}
.heading5{
    text-align: center;
    color: #126dcc;
    margin-top: 60px;
    font-size: 30px;
    font-weight: bold;
}
#gallary .heading5 span{
    color: gray;
}
#gallary .card{
    border-radius: 10px;
    cursor: pointer;
}
#gallary .card img{
    border-radius: 10px;
}
/* our gallary end */








/* contact start */
#contact{
    width: 100%;
    height: 100vh;
    padding-top: 70px;
}
#contact .container{
    width: 100%;
    height: 80vh;
    background: linear-gradient(90deg, #add8e6 80%, #f4c2c2 20%);
    border-radius: 10px;
}
.heading6{
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
}
.heading6 span{
    color: black;
}
#contact p{
    font-weight: bold;
    font-size: 13px;
    color: black;
}
#contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid #f4c2c2;
}
#contact-btn{
    width: 200px;
    height: 36px;
    border: none;
    background: #f4c2c2;
    color: black;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
}
#col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
}
#contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
}
#contact #col p{
    font-size: 15px;
    color: grey;
    margin-left: 13px;
    margin-top: 30px;
}
@media screen and (max-width:766px){
    #contact .container{
        background: white;
    }
    #col{
        width: 100%;
        background: lightblue;
    }
    #contact{
        height: 150vh;
    }
}
@media screen and (max-width:400px){
    #contact input{
        width: 250px;
    }
}
/* contact end */



/* footer start */
#footer{
    width: 100%;
    background: lightblue;
    margin-top: 50px;
}
.footer-logo img{
    width: 100px;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.socail-links i{
    font-size: 17px;
    margin-left: 10px;
    margin-top: 30px;
    padding: 10px;
    background: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.credits{
    color: white;
    margin-top: 20px;
    text-shadow: 0px 0px 1px black;
}
.credits a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
#credits a span{
    color: black;
}
.copyright span{
    color: black;
}
/* footer end */
html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-align: center;
    line-height: 50px;
}